<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{action.title}}</h4>
    <small class="font-bold">{{t.txt_action_subtitle}}</small>
</div>
<div class="modal-body">
    <div class="m-xs">

        <div class="row">
            <div class="col-sm-4 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_language}}</h5>
                    <select id="lang" name="lang" class="form-control m-b">
                        <option value="et" {{#compare lang "==" "et"}}selected{{/compare}}>{{t.txt_estonian}}</option>
                        <option value="en" {{#compare lang "==" "en"}}selected{{/compare}}>{{t.txt_english}}</option>
                    </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <h5 class="text-muted text-uppercase">{{t.txt_just_title}}</h5>
                <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="title" data-lang="et" data-type="textarea">{{action.title}}</a>
            </div>
            <div class="col-sm-2">
                <h5 class="text-muted text-uppercase m-b">Tag</h5>
                <a href="#" class=""><div class="label action-label"><i class="fa fa-arrows"></i></div></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_descr}}</h5>
                <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="descr" data-lang="et" data-type="textarea">{{action.descr}}</a>
            </div>
            <div class="col-sm-2 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_progress}}</h5>
                <div class="" id="progressNo"><strong>{{action.data.progress}}%</strong></div>
                <div>
                    <input type="range" name="progress" id="progress" value="{{action.data.progress}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_due}}</h5>
                <div>
                    <input name="due" id="due" type="text" class="datepicker form-control" style="width: 200px" value="{{action.data.due}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_responsible}}</h5>
                <strong class="">{{action.raci_r_displayname}}</strong>
                {{> raci}}
            </div>
        </div>

    </div>
</div>

