{{#if data.resultsData}}
<div class="row">


    <table class='strong'>
        <tr>
            <td>{{t.txt_budget_period}}:</td>
            <td>{{data.post.budget}}</td>
        </tr>
        <tr>
            <td>{{t.txt_period}}:</td>
            <td>{{data.post.startDate}} - {{data.post.endDate}}</td>
        </tr>
        <tr>
            <td>{{t.txt_department}}:</td>
            <td>{{data.post.department}} {{data.departmentName}}</td>
        </tr>
        <tr>
            <td>{{t.txt_object}}:</td>
            <td>{{data.post.object}}</td>
        </tr>
    </table>
</div>

<form method="POST"  action="" data-action="/api/file:fetch:22PB59:" id="hiddenExportForm" class="hiddenForm">
    <input type="hidden" id="departmentH" name="department[]" value=""><br>
    <input type="hidden" id="budgetH" name="budget" value=""><br>
    <input type="hidden" id="objectH" name="object[]" value=""><br>
    <input type="hidden" id="startDateH" name="startDate" value=""><br>
    <input type="hidden" id="endDateH" name="endDate" value=""><br>
    <input type="hidden" name="submit2" value="submit">
</form>
{{/if}}

<div class="row">
    <table>
        {{#each data.resultsData}}
        {{#if this.firstInBlock}}
        <tr><td>&nbsp;</td></tr>{{! Ploki algusesse tekitame tabelisse tühja rea}}
        {{/if}}

        {{#if this.caption}} {{! Alampealkirjade rida (Kulud/Tulud)}}
        <tr>
            <th>{{this.caption}}</th>
            <th align="right">{{../../t.txt_budget}}</th>{{! Oleme tsüklis ja lisaks if plokis, seetõttu peame t muutjale ligipääsuks kasutama ../../ }}
            <th align="right">{{../../t.txt_enforcement}}</th>
            <th align="right">{{../../t.txt_difference}}</th>
        </tr>
        {{/if}}
        <tr>
            <td>{{#if this.bold}}<strong>{{/if}}{{{this.Description}}}{{#if this.bold}}</strong>{{/if}}</td>
            <td align="right">{{#if this.bold}}<strong>{{/if}}{{{this.SumBudget}}}{{#if this.bold}}</strong>{{/if}}</td>
            <td align="right">{{#if this.bold}}<strong>{{/if}}<a href="#{{this.Counter}}" class="drill1" data-counter="{{this.Counter}}">{{{this.SumGL}}}</a>{{#if this.bold}}</strong>{{/if}}</td>
            <td align="right">{{#if this.bold}}<strong>{{/if}}{{{this.Diff}}}{{#if this.bold}}</strong>{{/if}}</td>
        </tr>
        {{/each}}
    </table>
</div>
