<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{action.title}}</h4>
</div>
<div class="modal-body">
    <div class="m-xs">
        {{#compare action.level "==" "2"}}
        <div class="row">
            <div class="col-sm-4 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_department}}</h5>
                <input id="department" name="department" class="form-control input-md typeahead" type="text" value="{{department}}" {{#unless acl}}disabled{{/unless}}><br>
            </div>
        </div>
        {{/compare}}
        <div class="row">
            <div class="col-sm-4 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_language}}</h5>
                    <select id="lang" name="lang" class="form-control m-b">
                        <option value="et" {{#compare lang "==" "et"}}selected{{/compare}}>{{t.txt_estonian}}</option>
                        <option value="en" {{#compare lang "==" "en"}}selected{{/compare}}>{{t.txt_english}}</option>
                    </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <h5 class="text-muted text-uppercase">{{t.txt_just_title}}</h5>
                {{#if acl}}
                    <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="title" data-lang="et" data-type="textarea">{{action.title}}</a>
                {{else}}
                    <p id="action_title">{{action.title}}</p>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_descr}}</h5>
                {{#if acl}}
                    <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="descr" data-lang="et" data-type="textarea">{{action.descr}}</a>
                {{else}}
                    <p id="action_descr">{{action.descr}}</p>
                {{/if}}
            </div>
            {{#if action.hasChildren}}
            <h5 class="text-muted text-uppercase">{{t.txt_progress}}</h5>
             <div class="badge badge-info m-l-xs">{{action.progress}}%</div>
             {{else}}
            <div class="col-sm-2 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_progress}}</h5>
                <div class="" id="progressNo"><strong>{{action.progress}}%</strong></div>
                <div>
                    {{#if acl}}
                        <input type="range" name="progress" id="progress" value="{{action.progress}}">
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>
        <div class="row">
            <div class="col-sm-4 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_due}}</h5>
                <div>
                    <input name="due" id="due" type="text" class="datepicker form-control" style="width: 200px" value="{{action.due}}" {{#unless acl}}disabled{{/unless}}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 m-t">
                <h5 class="text-muted text-uppercase">{{t.txt_responsible}}</h5>
                <strong class="">{{action.raci_r_displayname}}</strong>
                {{> raci}}
            </div>
        </div>

    </div>
</div>

