<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{t.txt_goals_detail_view}}</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-sm-4 m-t-xs">
            <h5 class="text-muted text-uppercase">{{t.txt_timeline_domain}}</h5>
            {{#if acl}}
                <select id="domain" name="domain" class="form-control m-b">
                    {{#each domains}}
                        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            {{else}}
                {{#each domains}}
                    {{#if this.selected}}
                        {{this.name}}
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    </div>

        <div class="row">
            <div class="col-sm-4 m-t-xs">
                <h5 class="text-muted text-uppercase">{{t.txt_language}}</h5>
                    <select id="goal-lang" name="lang" class="form-control m-b">
                        <option value="et" {{#compare lang "==" "et"}}selected{{/compare}}>{{t.txt_estonian}}</option>
                        <option value="en" {{#compare lang "==" "en"}}selected{{/compare}}>{{t.txt_english}}</option>
                    </select>
            </div>
        </div>
    <div class="row">
        <div class="col-xl-6 m-b">
            <h5 class="text-muted text-uppercase m-b-lg">{{t.txt_just_title}}</h5>
            {{#if acl}}
                <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="goal-title" name="title" data-lang="et" data-type="textarea">{{goal.title}}</a>
            {{else}}
                <p id="goal_title">{{goal.title}}</p>
            {{/if}}
        </div>
        <div class="col-xl-6 m-b">
            <h5 class="text-muted text-uppercase m-b-lg">{{t.txt_descr}}</h5>
            {{#if acl}}
                <a style="display: inline;" class="editable editable-pre-wrapped editable-click" href="#" id="goal-descr" name="descr" data-lang="et" data-type="textarea">{{goal.descr}}</a>
            {{else}}
                <p id="goal_descr">{{goal.descr}}</p>
            {{/if}}
        </div>

        <div class="col-xl-6">
            <h5 class="text-muted text-uppercase m-b-lg">{{t.txt_related_actions_status}}</h5>
            <ul class="">
                <li class="m-b">
                    <button type="button" class="btn btn-info btn-outline m-r-sm">{{goal.actionCount}}</button> {{t.txt_related_actions}}{{#compare goal.actionCount "!=" 0}}, {{t.txt_of_which}}{{/compare}}
                </li>
                <hr class="gray-darkest-bg" style="width: 50%">
                <hr class="">
                {{#compare goal.actionNotStartedCount "!=" 0}}
                <li class="m-t m-b-xs">
                    <button type="button" class="btn btn-danger m-r-sm ">{{goal.actionNotStartedCount}}</button> {{t.txt_not_started}}
                </li>
                {{/compare}}
                {{#compare goal.actionInProcessCount "!=" 0}}
                <li class="m-b-xs">
                    <button type="button" class="btn btn-warning m-r-sm  ">{{goal.actionInProcessCount}}</button> {{t.txt_active}}
                </li>
                {{/compare}}
                {{#compare goal.actionDoneCount "!=" 0}}
                <li class="m-b-xs">
                    <button type="button" class="btn btn-success m-r-sm  ">{{goal.actionDoneCount}}</button> {{t.txt_done}}
                </li>
                {{/compare}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="">
                <h5 class="text-muted text-uppercase">{{t.txt_overall_progress}}</h5>
                <div class="progress m-t" data-toggle="tooltip" data-placement="top" data-original-title="{{goal.progress}}%">
                    <div style="width: {{goal.progress}}%;" class="progress-bar progress-bar-success"></div>
                </div>
            </div>
        </div>
    </div>

</div>

