<div class="row m-t-sm m-b">

    <div class="col-sm-4">
       <label>Osakond</label>
       <div class="input-group">
        <select id="department" class="select2-select"  data-placeholder="{{t.txt_search_dot_dot}}"  multiple="multiple">
            {{#each departments}}
            <option value="{{this.ouCode}}" {{#if this.selected}}selected{{/if}}>{{this.ouName}}</option>
            {{/each}}
        </select>
        </div>
    </div>

    <div class="col-sm-4" id="employeeSelectDiv">
        {{> employeeSelect}}
    </div>

    <div class="col-sm-4" id="daterangeDiv">
        <label>Ajavahemik</label>
        <div class="input-group input-daterange">
            <input  id="filterStartDate" name="filterStartDate" type="text" class="form-control" value="{{startDate}}" readonly>
            <span class="input-group-addon">kuni</span>
            <input id="filterEndDate" name="filterEndDate" type="text" class="form-control" value="{{endDate}}" readonly>
        </div>
    </div>

</div>
