{{#each replacements}}
<div class="row"  data-employee_id="{{this.employee_id}}">
    <div class="col-sm-4">
        <input name="person" class="form-control input-sm autocomplete personInput" type="text" data-id='{{this.id}}' data-employee_id="{{this.employee_id}}" data-display_name="{{this.display_name}}" value="{{this.display_name}}">
    </div>
    <div class="col-sm-6">
        <div class="input-daterange input-group" style="width: 100%;">
            <input type="text" class="input-sm form-control" name="start" value="{{this.start_date}}">
            <span class="input-group-addon">{{../t.txt_to}}</span>
            <input type="text" class="input-sm form-control" name="end" value="{{this.end_date}}">
        </div>
    </div>

    <div class="col-sm-2">
        {{#if ../focusAcl}}
        <a href="#" class="btn btn-white msg_remove fa fa-trash-o btn_border deletePerson"></a>
        {{/if}}
    </div>
</div>
{{/each}}
