<table id="vacationsTable" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Isik</th>
            <th>Str. 체ksus</th>
            <th>Algus</th>
            <th>L천pp</th>
            <th>T체체p</th>
        </tr>
    </thead>
    <tbody>
        {{#each persons}}
        {{#each this.values}}
        <tr data-id="{{this.id}}">
            <td>{{../.name}}</td>
            <td>{{this.ouName}}</td>
            <td>{{this.start_date}}</td>
            <td>{{this.end_date}}</td>
            <td>{{this.label}}</td>
        </tr>
        {{/each}}
        {{/each}}
    </tbody>
</table>

